@import 'reset.css'
@import 'jquery.pagepiling.css'
@import 'url(http://fonts.googleapis.com/css?family=Pontano+Sans)'
box-shadow()
	-webkit-box-shadow arguments 
	-moz-box-shadow arguments
	box-shadow arguments
DarkRed = #a70000;
DarkGrey = #444444;
*
	font-family 'Pontano Sans', sans-serif
#menu
	width 100%
	min-height 70px
	z-index 77
	display  block
	position fixed
	background-color #fff
	border-bottom 2px solid DarkRed
	box-shadow  -3px 3px 1px 0px rgba(167, 0, 0, 0.07)
	.logo
		width 300px
		position absolute
		height 100%
		z-index 90
		vertical-align middle
		//background-image url('img/kajile.png')
		background-repeat no-repeat
		background-position center
		background-size 30%
	.holder
		width 70%
		float right
		height 100%
		font-size 0px
		z-index 90
		margin-top 1.5%
		height 65%
		text-align right
		margin-right 30px
		a
			font-size 16px
			display inline-block
			vertical-align middle
			margin-left 1%
			color DarkGrey
			&:hover
				text-decoration underline
				color DarkRed
#section1
	.texto 
		position absolute
		width 50%
		margin-left 25%
		top 40%
		background-color rgba(0, 0, 0, .05)
		z-index 70
		display block
		min-width 300px
		box-shadow  -3px 8px 8px 4px rgba(255, 255, 255, 0.07)
		h1
			z-index 77
			color #fff
		p 
			color #fff
			z-index 77
	.box 
		width 100px
		min-width 70px
		height 110px
		position absolute
		bottom 0px
		left 47%
		background-color black
		background-color rgba(167, 0, 0, .8)
		z-index 70
		background-image url('img/arrow.png')
		background-repeat no-repeat
		background-size 30%
		background-position center !important
	#slider
		background-size cover
		background-repeat no-repeat
		background-position center
		width 100%
		height 100%
	#texto	
		width 80%
		min-height 100px
		max-height 250px
		position absolute
		top 40%
		right 10%
		bakcground-color rgba(0,0,0,.4)
		h1
			color #ffff