@import 'reset.css';
@import 'jquery.pagepiling.css';
@import 'url(http://fonts.googleapis.com/css?family=Pontano+Sans)';
* {
  font-family: 'Pontano Sans', sans-serif;
}
#menu {
  width: 100%;
  min-height: 70px;
  z-index: 77;
  display: block;
  position: fixed;
  background-color: #fff;
  border-bottom: 2px solid #a70000;
  -webkit-box-shadow: -3px 3px 1px 0px rgba(167,0,0,0.07);
  -moz-box-shadow: -3px 3px 1px 0px rgba(167,0,0,0.07);
  box-shadow: -3px 3px 1px 0px rgba(167,0,0,0.07);
}
#menu .logo {
  width: 300px;
  position: absolute;
  height: 100%;
  z-index: 90;
  vertical-align: middle;
  background-image: url("img/kajile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}
#menu .holder {
  width: 70%;
  float: right;
  height: 100%;
  font-size: 0px;
  z-index: 90;
  margin-top: 1.5%;
  height: 65%;
  text-align: right;
  margin-right: 30px;
}
#menu .holder a {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1%;
  color: #444;
}
#menu .holder a:hover {
  text-decoration: underline;
  color: #a70000;
}
#section1 .texto {
  position: absolute;
  width: 50%;
  margin-left: 25%;
  top: 40%;
  background-color: rgba(0,0,0,0.05);
  z-index: 70;
  display: block;
  min-width: 300px;
  -webkit-box-shadow: -3px 8px 8px 4px rgba(255,255,255,0.07);
  -moz-box-shadow: -3px 8px 8px 4px rgba(255,255,255,0.07);
  box-shadow: -3px 8px 8px 4px rgba(255,255,255,0.07);
}
#section1 .texto h1 {
  z-index: 77;
  color: #fff;
  text-shadow: 2px 2px #000;
}
#section1 .texto p {
  color: #fff;
  z-index: 77;
  text-shadow: 2px 2px #000;
}
#section1 .box {
  width: 100px;
  min-width: 70px;
  height: 110px;
  position: absolute;
  bottom: 0px;
  left: 47%;
  background-color: #000;
  background-color: rgba(167,0,0,0.8);
  z-index: 70;
  background-image: url("img/arrow.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center !important;
}
#section1 #slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
#section2 .text {
  color: #000;
  width: 80%;
  margin: 0px;
  margin-left: 10%;
  height: auto;
  position: absolute;
  top: 150px;
}
#section2 .text h1 {
  color: #000;
  text-shadow: 2px 2px #fff;
  marign: 0px;
  font-size: 3vw;
}
#section2 .text p {
  color: #000;
  text-shadow: 2px 2px #fff;
  marign: 0px;
  font-size: 1vw;
}
#section2 .text span:after,
#section2 .text span:before {
  content: url("img/border.png");
}
#section2 #gallery {
  width: 100%;
  height: 43%;
  background-color: rgba(255,255,255,0.3);
  position: absolute;
  bottom: 0px;
}
#section2 #gallery .pic {
  width: 24%;
  height: 50%;
  display: inline-block;
  font-size: 0px;
  vertical-align: middle;
  margin-left: -5px;
  background-position: center;
  background-size: cover;
  border: 1px solid #000;
}
#section2 .hover-grid .hover-grid-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: default;
}
#section2 .hover-grid .hover-grid-item .caption {
  background-color: rgba(44,44,44,0.5);
  width: 100%;
  height: 100%;
  color: #fff;
  display: none;
}
#section2 .hover-grid .hover-grid-item .caption p {
  position: absolute;
  top: 35%;
  font-size: 15px;
  text-shadow: 2px 2px #444;
  color: #fff;
  left: 2%;
}
#section3 #house {
  background-color: #008000;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  z-index: 9999;
}
#section3 #house .all {
  width: 100%;
  height: 13.5%;
  background-color: #ff0;
}
#section3 #house .row {
  display: inline-block;
  width: 32%;
  height: 13.5%;
  background-color: #0ff;
}
#section4 {
  background-image: url("img/5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#section4 #reference {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #444;
  opacity: 0.5;
}
